@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div style="display: flex; justify-content: space-around; margin: 60px auto;">
    <div><a class="mt-1 mb-1 btn btn-primary text-decoration-none" href="/Festivals/Index">Festivali</a></div>
    <div><a class="mt-1 mb-1 btn btn-primary text-decoration-none" href="/Kartas/Index">Karte</a></div>
    <div><a class="mt-1 mb-1 btn btn-primary text-decoration-none" href="/TipKartes/Index">Tip Karte</a></div>
</div>
